* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: hsl(113, 20%, 91%);
    height: 100vh;
    margin: 0;
    background-image: url(./img/téléchargement\ \(26\).jpg);

}
nav {
    background-color: #185B2B;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 6px #183220;
}
nav img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 15px;
}
nav h3 {
    font-size: 24px;
    font-weight: bold;
    color: #d2ead9;
}
.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
}
.formu {
    flex: 1 1 45%;
    max-width: 400px;
    width: 100%;
    height: auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #84ac8d;
    box-shadow: 0 4px 6px rgba(3, 8, 5, 0.2);
}
.formu h1 {
    font-size: 24px;
    color: #185B2B;
    margin-bottom: 20px;
    text-align: center;
}
form .form-group {
    margin-bottom: 15px;
}
form label {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
    display: block;
    font-weight: bold;
}
form input, form select {
    width: 100%;
    padding: 12px;
    font-size: 14px;
    background-color: #dee8e1;
    border: 1px solid #eae6e6;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
}
form button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    background-color: #185B2B;
    color: #c9d8cd;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: transform 0.3s;
    box-shadow: 0 0 5px rgba(0, 11, 3, 0.5);
}
form button:hover {
    transform: scale(1.1);
    background-color: #0a431a;
}
.Gk-joueur{
    display: none;
}
.terrain {
    background-image: url(./img/modif.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 85%;
    height: 800px;
    position: relative;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgb(0, 0, 0);
}
.scr img {
    width: 100px;
    height: 150px;
    margin: 10px;
    filter: drop-shadow(10px 10px 15px rgba(12, 29, 7, 0.3));
}
.GK,
.CBone,
.CBtow,
.lb,
.rb,
.CMone,
.CMtow,
.CMtrois,
.lw,
.RW,
.ST {
    position: absolute;
    filter: drop-shadow(10px 10px 15px rgb(0, 0, 0));
}

.GK{
    background-image: url(./img/téléchargement__24_-removebg-preview.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 150px;
    height: 190px;
    left: 240px ;
}

.CBone{
    background-image: url(./img/téléchargement__24_-removebg-preview.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 150px;
    height: 190px;
    top: 150px;
    left: 40px;
}
.CBtow{
    background-image: url(./img/téléchargement__24_-removebg-preview.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 150px;
    height: 190px;
    top: 180px;
    left: 190px;
}
.lb{
    background-image: url(./img/téléchargement__24_-removebg-preview.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 150px;
    height: 190px;
    top: 150px;
    left: 440px;
}
.rb{
    background-image: url(./img/téléchargement__24_-removebg-preview.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 150px;
    height: 190px;
    top: 180px;
    left: 310px;
}
.CMone{
    background-image: url(./img/téléchargement__24_-removebg-preview.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 150px;
    height: 190px;
    top: 360px;
    left: 250px;
}
.CMtow{
    background-image: url(./img/téléchargement__24_-removebg-preview.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 150px;
    height: 190px;
    top: 340px;
    left: 100px;
}
.CMtrois{
    background-image: url(./img/téléchargement__24_-removebg-preview.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 150px;
    height: 190px;
    top: 340px;
    left: 400px;
}
.lw {
    background-image: url(./img/téléchargement__24_-removebg-preview.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 150px;
    height: 190px;
    top: 530px;
    left: 100px;
}

.RW {
    background-image: url(./img/téléchargement__24_-removebg-preview.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 150px;
    height: 190px;
    top: 530px;
    left: 400px;
}

.ST {
    background-image: url(./img/téléchargement__24_-removebg-preview.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 150px;
    height: 190px;
    top: 560px;
    left: 250px;
}
.scr h3 {
    font-size: 24px;
    font-weight: bold;
    color: #145423;
    text-align: center; 
    margin-bottom: 20px; 
}
.scr {
    background-color: #84ac8d;
    margin-top: 20px;
    border-radius: 30px;
    box-shadow: 10px 10px 15px rgba(30, 71, 14, 0.3);
}
.GK,
.CBone,
.CBtow,
.lb,
.rb,
.CMone,
.CMtow,
.CMtrois,
.lw,
.RW,
.ST{
    transition: transform 0.3s ease;
    filter: drop-shadow(10px 10px 15px rgba(228, 239, 225, 0.3));
}
.GK:hover {
    transform: scale(1.2);
}
.CBone:hover {
    transform: scale(1.2);
}
.CBtow:hover {
    transform: scale(1.2);
}
.lb:hover {
    transform: scale(1.2);
}
.rb:hover {
    transform: scale(1.2);
}
.CMone:hover {
    transform: scale(1.2);
}
.CMtow:hover {
    transform: scale(1.2);
}
.CMtrois:hover {
    transform: scale(1.2);
}
.RW:hover {
    transform: scale(1.2);
}
.lw:hover {
    transform: scale(1.2);
}
.ST:hover {
    transform: scale(1.2);
}

.statiqueJoueur{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 118px;
    left: 22px;
    font-size: 10px;
    color: rgb(25, 86, 19);
    gap: 6px;
    background-color: #fdfefe49;
}

.nom{
    position: absolute;
    top: 100px;
    left: 22px;
    color: rgba(2, 33, 7, 0.842);
    background-color: #fdfefe49;
    width: 70%;
    font-size: 13px;
    text-align: center;
}

.position{
    position: absolute;
    top: 25px;
    left: 25px;
    font-size: 15px;
    color: rgb(208, 232, 219);
}
.joueur{
    position: absolute;
    height: 68px;
    left: 30px;
    bottom: 113px;
}
.joueur img{
    width: 90px;
}

.edit, .delete {
    margin: 6px;
    padding: 9px 15px;
    border: none;
    border-radius: 5%;
    position: relative;
    top: 137px;
    left: 33px;
}

.edit {
    background-color: #fefdfd;
}

.delete {
    background-color: #000000; 
}